<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <style>
        a {
            display: none;
        }

        table {
            margin-top: 5%;
            width: 100%;
        }

        td {
            width: 200px;
        }

        @page {
            margin-top: 4cm;
            margin-bottom: 2cm;
            margin-left: 1.5cm;
            margin-right: 1.5cm;
        }
    </style>
</head>
<body>
    <section>
        {% include 'liquidacion/cuerpo_detalle.html.twig' %}
    </section>
</body>
</html>