<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
</head>
<body>
    <section>
        <h1>hola</h1>
        {% include 'liquidacion/cuerpo_detalle.html.twig' %}
    </section>
</body>
</html>