{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Alberquina{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Variedad Alberquina</h3>
        <p>
            Originariamente de Arbeca, perteneciente a la comarca de Les Garrigues, en Lléida da lugar a aceites muy aromáticos, de color verde a principio de cosecha, con notas olfativas características como la almendra, el tomate y la manzana. Es la variedad más extendida en Catalunya, la de más renombre y conocida.

            Esta aceituna es la mayoritaria en Lleida (DO Les Garrigues), en Tarragona (DO Siurana). También podemos encontrarlas en las provincias de Zaragoza, Huesca, Teruel. Los aceites protegidos por la Denominación de Origen del Bajo Aragón admiten hasta un 20% de aceituna arbequina.

            Se halla entre las variedades españolas más conocidas. Aunque llega a internarse en las provincias de Zaragoza y Huesca, en la comunidad de Aragón, es originaria de la localidad de Arbeca (Lérida), de donde le viene el nombre, encontrándose extensamente extendida por las provincias de Tarragona y Lérida, ambas en la comunidad de Cataluña. La calidad del aceite ha hecho a estas dos zonas de producción acreedoras de dos Denominaciones de Origen: Siurana y Les Garrigues respectivamente. El olivo se presenta tanto en cultivo único como asociado a otros, principalmente a viñedos, y a veces ocupando las lindes entre parcelas.

            Arbequina
            La aceituna Arbequina es una de las más pequeñas utilizadas para producir aceite de oliva y mantiene una baja relación pulpa/hueso de 4.6. Ovalada, más redondeada que alargada, de forma ovalada y casi simétrica, de maduración temprana, de un color verde/violeta y reluciente. Muy buen rendimiento graso y muy buena calidad de aceite, produce un aceite finísimo. Las aceitunas no caen fácilmente debido a su pequeño tamaño, alrededor de 1.9 gramos, y es difícil su recolección mecanizada, por lo que en vez de varearlas se ordeñan, es decir se recogen pasando la mano por las ramas. Presenta el inconveniente de los frutos muy pequeños y ramos que transmiten muy mal la vibración durante la recolección; porte arbustivo que permite mayores densidades de plantación.

            La aceituna arbequina es muy apreciada por su precoz entrada en producción, con un periodo medio de maduración entre la segunda semana de diciembre y la segunda de enero, alta productividad y buen rendimiento graso, en torno al 20,5 %, y son muy estimadas porque tienen una incorporación muy temprana en producción. Tiene elevada productividad y buen rendimiento graso, que lo sitúa entre las variedades con mayor porcentaje de extracción de aceite.

            Arbequina
            El árbol, de reducido vigor permite su utilización en plantaciones intensivas. Sus brotes largos, poco ramificados y el color verde oscuro de la madera joven confieren a este olivo forma de escoba. Los campos de olivares de la variedades arbequina muestran unos paisajes peculiares, muy diferentes a los que se contemplan, por ejemplo, en zonas de Andalucía. Resiste bien los fríos y la sequía, se hace árbol relativamente temprano. Empieza a ser productivo en 10 ó 15 años. Esta variedad presenta una época de floración media en la primera quincena del mes de Mayo.

            Sus aceites, con un color entre verdoso y amarillo, tienen aroma afrutado fresco con aromas a almendras y otras frutas. Su sabor varía dependiendo de la clase de suelo y clima. Amargan y pican muy poco sino nada, la nota de astringencia no aparece nunca y de entrada presentan una gran suavidad y ofrecen una sensación táctil de almendrado muy agradable y delicada. Los podríamos describir como aceites de características armoniosas, suaves, ligeros, delicados, dulces, casi siempre almendrados y con un aroma a frutos maduros (papilla de frutas y manzana) , en los que a veces se atisban aromas exóticos. Sin embargo, también se da el tipo de aceite frutado ligeramente verde y medianamente amargo, picante y dulce. Este aceite corresponde al de principio de campaña, cuando las aceitunas están todavía verdes y esta característica se refleja lógicamente en el perfil organoléptico del aceite.

            Por su composición son algo más delicados que otras variedades frente a la oxidación y una vez envasados es muy importante que estén al resguardo de la luz y el calor.

            Es de destacar que la Arbequina es exquisita, cuando es aliñada, para uso en mesa.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

