{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Gordal{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Variedad Gordal</h3>
        <p>
            También es una de las aceitunas típicas de mesa, su nombre de gordal proviene del tamaño de su fruto que es un poco redondeado. De frutos muy grandes y de pobre calidad. Procede y se cultiva en Sevilla.

            La variedad Gordal Sevillana se cultiva principalmente en la provincia de Sevilla donde cuenta con una extensión aproximada de unas 30.000 hectáreas. Ahora bien, aparte de Sevilla otras provincias como Córdoba y Huelva también existen plantaciones de esta variedad. Otros países como los Estados Unidos, Argentina o incluso Israel también se han encontrado con este tipo de plantación.

            También se le conoce como Bella de España, Morcal de Limón, etc.

            El árbol de donde se extrae la aceituna de Gordal Sevillana, es un árbol vigoroso, escasamente ramificado y con hojas de gran tamaño.

            Floración temprana y de cuajado difícil, por lo que el empleo de polinizadores mejora la productividad.

            El fruto en su maduración es de color verde oscuro casi negro, ovalado alargado con forma acorazonada con pocas ramificaciones. Su hueso es de forma alargada con las bases apuntadas y ligeramente asimétrica.

            Su productividad es variable y en contenido de aceite es bajo, pero está considerada una variedad con la máxima valoración comercial, debido a su tamaño y su buena relación pulpa/hueso.

            Aceituna de la máxima valoración comercial por su tamaño y buena relación pulpa/hueso de 7,3; por lo demás no presenta ventajas: baja calidad de pulpa, separación pulpa-hueso difícil, delicadeza para tratamientos industriales.

            Como aceituna de mesa es muy apreciada no sólo por su gran tamaño sino también por su calidad y su sabor extraordinario.

            Produce aceite muy inestable con rancimat de valor 51,2.

            Baja resistencia a cualquier plaga de insectos que ataquen el olivo en general. Aspecto a tener en cuenta cuando es llevada a nuevas plantaciones en cualquier país.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

