{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Hojiblanca{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Variedad Hojiblanca</h3>
        <p>
            Procede de Lucena (Córdoba). Variedad de doble aptitud, aunque mediocre en los dos casos; como variedad de mesa se conoce con el nombre de perlas del Guadalquivir; alta tolerancia a suelos calizos; fruto de tamaño aceptable. También llamada Casta de Cabra o Lucentino, se produce en el este de Sevilla, sur de Córdoba y norte de Málaga. Supone un 16% de la producción andaluza, sobre un terreno de unas 217.000 hectáreas. Es típica de los aceites de Córdoba y la campiña, dan generalmente aceites de tonos dorados y de sabor suave. El nombre proviene de la coloración blanquecina de la base de las hojas.

            También se la conoce en Andalucía bajo el nombre de Lucentino, por los reflejos metalizados que tienen sus hojas cuando les da el sol. Las aceitunas hojiblancas sirven tanto para aceitunas de mesa negra por la firme textura de su pulpa, como para la producción de aceite.

            Hojiblanca
            La oliva, aunque con muchas oscilaciones, suele ser de tamaño grande a grueso alcanzando de media los 4,3 gramos. Su forma es de una esfera casi perfecta con una relación pulpa / hueso elevada, entorno a 8. El fruto también aguanta bien el frío. Su floración dura las dos primeras semanas de mayo teniendo su plenitud al inicio de la segunda semana. La maduración es algo tardía, desde finales de noviembre a finales de diciembre y una vez maduro presenta resistencia al desprendimiento, con lo que su recolección es dificultosa. Su rendimiento en aceite es bajo, con una media entre 17-19%.

            El olivo es de vigor medio a bueno, con ramas largas y fructíferas aunque algo péndulas. Las copas mantienen una densidad media y una superficie foliar regular y se caracterizan por el color gris verdoso claro de su madera joven. Aguanta bien el frío y se adapta perfectamente a terrenos calizos.

            Desde el punto de vista físico-químico, presenta una composición de ácidos grasos muy equilibrada con ácidos saturados relativamente más bajos que en el resto de los aceites de otras variedades. Su composición es ideal desde el punto de vista alimenticio. La estabilidad ante la oxidación no es elevada y se recomienda mantener estos aceites al amparo de la luz y sin excesiva oxigenación durante el almacenamiento.

            Hojiblanca
            El aceite tiene una buena relación de ácido oleico (~75%) ácido linoleico (~7%) con una cantidad de ácidos grasos baja en comparación con otros aceites. Estas características hacen del aceite producido con aceituna hojiblanca ideal para dietas.

            Desde el punto de vista organoléptico, presentan una inmensa gama de flavores, aunque predominan los sabores vegetales. Son valores comunes los atributos de dulzura al inicio de la cata, frutado de hierba fresca en el aroma, ligero amargor a fruta verde y otras frutas que a veces recuerdan a una macedonia, ligero picante en garganta y regusto final almendrado. Estos aceites tienen una enorme variedad de sabores, siendo los atributos más característicos un toque de dulzor inicial, con toques de amargo de frutas verdes, y un toque final de almendra.

            Recomendado para freír, este aceite es también ideal para la elaboración de pan, pasta y pasteles, por la perfecta consistencia que da a las masas. Estas olivas son también ampliamente usadas y apreciadas como aceitunas negras de mesa gracias a la firmeza de su carne.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

