{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Lampante{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Aceite de oliva lampante</h3>
        <p>
            El aceite de oliva lampante es el zumo resultante de las aceitunas de peor calidad, normalmente de las últimas aceitunas de la campaña, recogidas del suelo o ya en proceso de fermentación, y que dan como resultado un aceite con una acidez superior al 2% y múltiples defectos, que lo hacen no apto para el consumo humano. Por ello, este tipo de aceite se lleva desde las almazaras a las refinerías industriales para elaborar otro tipo de aceites y subproductos. No obstante, controles recientes de la OCU a varios aceites de oliva presentes en supermercados e hipermercados muy conocidos, han sacado a la luz el uso fraudulento de este producto dentro de envases etiquetados como virgen o incluso virgen extra. Como anécdota, comentar que “lampante” viene de lámpara, porque en la antigua Roma este aceite lo usaban como “energía” de alumbrado y para dar de comer a los esclavos como muestra de su “generosidad”.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

