{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Lechín{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Variedad Lechín</h3>
        <p>
            Esta variedad es característica de las provincias de Sevilla, Córdoba, Cádiz, Málaga y Huelva. Su nombre se debe al color blanquecino de su pulpa y de su mosto oleoso, mezcla de agua de vegetación y aceite. Es una variedad de mucho vigor, capaz de soportar bien las sequías y los fríos invernales, adaptándose muy bien a los terrenos calizos y pobres.

            Esta variedad ocupa aproximadamente 185.000 hectáreas de la provincia de Granada y una pequeña parte de Sevilla.

            El árbol se caracteriza por ser muy vigoroso y de grandes raíces, de porte abierto y densidad espesa en su copa. Es un árbol rústico, tolerante al frío, a la sequía y a suelos calizos y de mala calidad. Aunque es productivo, su época de floración es media y hay bastantes fallos en la cosecha por corrimiento de flor, y su recolección es costosa por resistencia al desprendimiento y tamaño del fruto.

            La hoja es de tamaño pequeño, cortas y un poco ensanchadas en su mitad, planas, mostrando un vivo verde amarillento en el haz y verde grisáceo en el envés.

            Lechín
            La aceituna media tiene un peso cercano a los 3 gramos y es de forma elipsoidal, un poco abombada en el dorso y ligeramente asimétrica. El ápice es redondeado y en ocasiones presenta un pequeño pezón. Su color es negro en la maduración. Tiene un contenido medio bajo en aceite, del orden del 18 %, y una alta relación entre la pulpa y el hueso entorno a 7:2 a 8:5. La maduración de la fruta es temprana.

            Desde el punto de vista organoléptico, es un aceite fluido de sabores vegetales, amargor medio y un regusto a almendra verde en boca.

            Es un aceite fluido con un aroma medio, herboso, a aceitunas y equilibrado. El sabor presenta amargor y pico medio en intensidad y un remanente a almendra verde en boca. Recién producido resulta muy agradable.

            El contenido alto de ácido pálmico (12-13%) se compensa con el reducido contenido en ácido esteárico, y así el total de ácidos saturados es bajo en los aceites producidos con estas olivas. Sin embargo, la combinación produce unas características organolépticas inestables, con tendencia a la oxidación. El sabor es ligeramente amargo, con una reminiscencia de almendras verdes.

            Desde el punto de vista químico, su composición le hace ser relativamente inestable frente a la oxidación con pérdida de sus valores organolépticos relativamente rápida en el tiempo.

            No es frecuente la comercialización de aceites exclusivamente con la variedad Lechín, pero suele utilizarse complementando otras variedades como la Hojiblanca y Picual.

            Es el aceite ideal para tapas y dulces.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

