{% extends 'layout.html.twig' %}
{% trans_default_domain 'pagina' %}
{% block title %}{{ titulo|trans }}{% endblock %}

{% block aside %}
    <div class="container">
        <h3>{{ titulo|trans }}</h3>
        {{ cuerpo|trans|raw }}
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

