{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Picual{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Variedad Picual</h3>
        <p>
            Originaria de Jaén y que representa el 50% de la producción española y un 20% de la mundial, da un aceite de tonos verdes y con predominio de los sabores amargos.Su nombre proviene de la forma puntiaguda (pico) de la oliva. Es la mejor variedad del mundo, y es la mayoritaria en la provincia de Jaén, y en la denominación de origen “Sierra Mágina”. También es predominante en las DO “Sierra de Segura”, “Priego de Córdoba”, "Montes de Granada" y “Baena”. También llamada Marteña, Nevado o Nevadillo, entre otras.

            Es la variedad más importante y extendida. Su difusión geográfica está ligada a Andalucía, principal región productora del mundo y en concreto, a las provincias de Jaén, Córdoba y Granada. También está presente en Málaga, Ciudad Real y Badajoz. Sin embargo, no se halla muy extendida, concentrándose su producción en la provincia de Jaén, y zonas limítrofes, donde se le dedica una superficie de unas 645.000 hectáreas.

            Esta variedad está amparada en las DO de Sierra Mágina, Sierra Segura, en estas dos como variedad principal. También en Priego de Córdoba, Sierra de Cazorla y Montes de Granada.

            La oliva es de tamaño medio a grande, con 3,2 gramos de promedio. La relación carne-hueso es de 5:6. La maduración se produce de principio de noviembre a mitad de diciembre. La productividad de aceite es alta, llegando hasta un 27,7%, aunque el promedio es de alrededor de 22%. De esta variedad se obtienen las Denominaciones de Origen Priego de Córdoba, Sierra de Segura y Sierra Mágina.

            Variedad Picual
            El árbol presenta un gran vigor, de ramas algo cortas, ramificadas con tendencia a producir brotes y chupones. Sus copas son vigorosas y tienden a cerrarse, con buen desarrollo foliáceo siendo la madera joven de color verde grisácea. Tienen precoz entrada en producción y alta productividad y esta es una de las razones por las que se han intensificado tanto sus plantaciones. Es un tipo de árbol que se adapta a diversas condiciones de clima y suelo y es tolerante a las heladas, pero poco resistente a la sequía y a los terrenos muy calizos.

            Los olivos picuales tienen una alta productividad, siendo ésta una de las razones por las que se han intensificado tanto sus plantaciones. La maduración de sus frutos transcurre desde la segunda semana de noviembre hasta la tercera de diciembre.

            Tiene un rendimiento graso elevado, un elevado índice de estabilidad y un alto contenido en ácido oleico. También ofrece una elevada resistencia al enranciamiento provocado por la cantidad de antioxidantes naturales que contiene. Su elevado contenido en polifenoles, lo convierten en el aceite más estable que existe.

            Variedad Picual
            La excelencia del aceite que produce empieza con el contenido en ácido graso y antioxidantes. Suele contener un 80% de ácido oleico monoinsaturado, un componente importante en la prevención de enfermedades cardiovasculares, y solo un 4% de ácido linoleico, que en exceso es perjudicial.

            Desde el punto de vista organoléptico, habría que diferenciar entre el de llano y el de montaña. Los aceites de llano son aceites de gran cuerpo, normalmente amargos, con cierto sabor a madera. Los de montaña, suelen ser más suaves aunque con un flavor "a fresco" y agradable.

            Los aceites de tierras bajas suelen tener mucho cuerpo, con un ligero sabor amargo y un toque de madera, mientras que si las olivas se cultivan en tierras de montaña el aceite es más dulce, con un sabor más fresco.

            El mejor uso del aceite es para freír, aunque es igualmente bueno en ensaladas o gazpachos.

            Los aceites de variedad picual, en su calidad virgen extra, son los ideales para guisar pescados y mariscos.

            Especial para realizar sofritos de verduras, ya sean para tomarlos solos o para realizar los sofritos de pimiento, tomate y cebolla que son la base de potajes y salsas. Potencian el sabor de las tradicionales sopas de ajo, al freír en aceite de oliva virgen extra el pan para preparar los picatostes.

            Son los adecuados para aliñar las ensaladas elaboraras con verduras de hojas amargas como la escarola, la endibia, la achicoria, los berros, el diente de león, la ruqueta o el jaramago, siendo los más indicados para acompañar los tomates crudos picados con sal gorda.

            Potencian el sabor tradicional de las llamadas frutas de sartén (roscos fritos, pestiños, borrachuelos), o innumerables dulces de la repostería conventual como las magdalenas caseras, dando réplica de sabor a la manteca de muchos de estos dulces tradicionales.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

