{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}Virgen extra{% endblock %}

{% block aside %}
    <div class="container">
        <h3>Aceite de oliva virgen extra</h3>
        <p>
            Es el que se extrae exclusivamente mediante procedimientos mecánicos con un grado de acidez (haz click para más info) máximo del 0,8%. Este parámetro se obtiene mediante un análisis en laboratorio, y está directamente relacionado con la cantidad de ácidos grasos libres que hay en el aceite, y que se producen principalmente porque toda la aceituna no está en su estado óptimo de salud, como ocurre con las aceitunas recogidas del suelo, las aceitunas picadas, las aceitunas fermentadas, etc. Por ello, a menor acidez, mayor es la calidad del fruto y del aceite de oliva producido.
        </p>
        <p>
            Sin embargo, la acidez no es el único parámetro que se tiene en cuenta para determinar su calidad, ya que influyen otros determinantes como el índice de peróxidos, el K270 o las ceras. ¿Pero qué significan estos parámetros? Pues por simplificar, el índice de peróxidos es la cantidad de oxígeno activo en el aceite y que nos da una idea de su grado de oxidación o enranciamiento (sabor defectuoso). En el caso del aceite de oliva virgen extra, este parámetro no puede superar los 20 meq/kg (miliequivalentes de óxigeno por kilo). En la misma línea, el índice K270 indica el grado de oxidación producido por alteraciones, contaminación o manipulaciones indebidas del producto. Por otro lado, están las ceras que pasan al aceite de oliva por presencia de hojas o suciedad, por una temperatura de extracción elevada o por un almacenamiento inapropiado. En definitiva, tras una analítica exhaustiva, es posible saber si un aceite de oliva virgen extra ha podido ser adulterado o presenta defectos que puedan poner en duda su virginidad extra, como ya ha demostrado la OCU en los controles que realiza para detectar los fraudes tan habituales (haz click) con este producto. Por ello, a la hora de comprar un aceite de oliva virgen extra, es un plus de calidad que esté certificado por el Consejo Regulador de una Denominación de Origen autorizada. En este sentido, nuestra D.O. Sierra Mágina es la más exigente del mundo y establece un umbral para todos estos parámetros muy por debajo de lo que establece la normativa europea. Además, cuenta con un panel test de catadores expertos, que realizan un exigente análisis organoléptico para detectar defectos en el aceite virgen extra, no revelados por el análisis físico-químico. Este análisis humano es imprescindible para detectar cualidades del aceite como el frutado, el amargo o el picante, directamente relacionados con la presencia de compuestos orgánicos y antioxidantes naturales únicos como la vitamina E, el oleocantal o el escualeno, que convierten al aceite de oliva virgen extra superior en un producto de capital importancia para nuestra salud.
        </p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

