{% extends 'layout.html.twig' %}
{% trans_default_domain 'layout' %}
{% block title %}{{ titulo|trans }}{% endblock %}

{% block aside %}
    {% trans_default_domain 'pagina' %}
    <div class="container">
        <h3>{{ titulo|trans }}</h3>
        <p>{{ cuerpo|trans|raw }}</p>
    </div>
{% endblock %}

{% block section %}
    {% include 'pagina/enlaces_exteriores.html.twig' %}
{% endblock %}

