{% extends 'layout.html.twig' %}

{% block title %}Fincas{% endblock %}

{% block section %}
    <div class="container">
        <h3>Vas a eliminar una finca</h3>
        <h3>¿deseas continuar?</h3>
        <form action="{{ path('confirmar_fincas_eliminar', {'finca' : finca.id}) }}" method="post" name="confirmar">
            <button type="submit" name="aceptar" class="btn btn-default">
                <i class="fa fa-check"></i> Aceptar
            </button>
            <a href="{{ path('fincas_listar') }}" class="btn btn-default" name="cancelar">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
    </div>
{% endblock %}