{% extends 'base.html.twig' %}
{% trans_default_domain 'nav' %}
{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block header %}
        <div id="conexion">
            <a href="#">Conexión</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <header>
            <div id="logotipo">
                <img src="{{ asset('logo.png') }}" alt="logo">
                <h1>Sociedad Cooperativa</h1>
            </div>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Desplegar barra de navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">{{ 'nav.quienessomos'|trans }}</a></li>
                            <li><a href="#">{{ 'nav.productos'|trans }}</a></li>
                            <li><a href="#">Venta online</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block content %}
        {% block aside %}
        {% endblock %}
        {% block section %}
        {% endblock %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
{% endblock %}
