{% extends 'base.html.twig' %}
{% trans_default_domain 'nav' %}
{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block header %}
        <header>
            <nav class="navbar navbar-default" id="navegacion">
                <div class="container">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#">Conexión</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                            <li>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="button">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </button>
                            </li>

                                <button class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                </div>
            </nav>
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                            <span class="sr-only">Desplegar</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h3>Sociedad Cooperativa</h3>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-main">
                        <ul class="nav navbar-nav navbar-right">
                            <li {% if ruta == 'inicio' %} class="active" {% endif %}>
                                <a href="#">Inicio</a>
                            </li>
                            <li>
                                <a href="#">{{ 'nav.quienessomos'|trans }}</a>
                            </li>
                            <li>
                                <a href="#">Nuestros productos</a>
                            </li>
                            <li>
                                <a href="#">Venta online</a>
                            </li>
                            <li>
                                <a href="#">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block content %}
        {% block aside %}
        {% endblock %}
        {% block section %}
        {% endblock %}
    {% endblock %}
    {% block footer %}
        <footer class="navbar navbar-default">
            <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <div>IES ORETANIA</div>
                    <div>Autor: Diego Hurtado Rosales</div>
                </li>
            </ul>
            <ul class="nav navbar navbar-right">
                <li>
                    <a href="#">Ir arriba</a>
                </li>
            </ul>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
