{% extends 'layout.html.twig' %}

{% block title %}Temporadas{% endblock %}

{% block section %}
    <div class="container">
        <h2 class="well">Temporadas</h2>
        {% if movimientos == false %}
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a principal
            </a>
        {% elseif liquidaciones == false %}
        {% endif %}
        <ul>
            {% for temporada in temporadas %}
                <li>{{ temporada }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}