{% extends 'layout.html.twig' %}

{% block title %}Temporadas{% endblock %}

{% block section %}
    <h2>Temporadas</h2>
    <ul>
        {% for temporada in temporadas %}
            <li>{{ temporada }}</li>
        {% endfor %}
    </ul>
{% endblock %}