html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    width: 100%;
    font-family: Arial;
    background-color: #EDF0F5;
    background-image: url("../images/header.jpg");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    margin-bottom: 90px;
}

header {
    margin-bottom: 0;
}

nav {
    font-weight: bold;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 90px;
    background-color: #7E91A9;
    color: white;
    border-radius: 0;
}

footer a {
    color: white;
}

footer .container {
    padding-top: 20px;
}

aside {
    background-color: #EDF0F5;
}

section {
    background-color: #EDF0F5;
    z-index: 4;
    margin-top: 0;
}

section h2 {
    margin-top: 0;
    padding-top: 20px;
}

thead {
    background-color: #BDBDBD;
    color: #6A6C6F;
}

tbody, tfoot {
    background-color: #F5F5F5;
    color: #6A6C6F;
}

td a {
    color: #6A6C6F;
}

tbody tr:hover {
    background-color: #E9DEF2;
}

button {
    padding-left: 0px;
}

.navegacion {
    color: white;
    opacity: 0.85;
    z-index: 5;
}

.contenedor {
    width: 100%;
}

.navbar-inverse {
    border-radius: inherit;
}

.dropdown-menu {
    z-index: 15;
    border-radius: inherit;
    background-color: #222222;
    color: #9D9D9D;
}

.dropdown-menu li a {
    font-weight: bold;
    color: #9D9D9D;
}

.dropdown-menu li a:hover {
    color: #978B2A;
    background-color: #222222;
}

.tituloResponsive {
    display: none;
}

.contenedorLogoSesion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNavegador {
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}

.listaNavegador li {
    margin-right: 5%;
}

.listaInicio:hover {
    color: #978B2A !important;
}

.presentacion {
    width: 100%;
}

.navegacion {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    width: 100%;
}

.logotipo {
    display: flex;
    align-items: center;
}

.navbar-header {
    width: 100%;
}

.menuOculto {
    display: none;
}

.activo {
    background-color: #222222;
}

.activo a {
    border-bottom: 5px solid #978B2A;
}

.noActivo a {
    border-bottom: 5px solid #222222;
}

.listaEnlacesExteriores {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.listaEnlacesExteriores img {
    margin-left: 25%;
    max-width: 200px;
}

.btnAceptar {
    background-color: #7E91A9;
    color: white;
}

.btnCancelar {
    background-color: #95A5A6;
    color: white;
}

.well {
    margin-top: 3%;
    color: #6A6C6F;
}

.division {
    background-color: #D6D6D6;
    height: 2px;
}

.contenedorTabla {
    background-color: #F5F5F5;
    border: solid 1px #DDDDDD;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: inherit;
}

.seleccionado {
    background-color: cadetblue;
    color: white;
}

.seleccionado a {
    color: white;
}

.seleccionado:hover {
    background-color: cadetblue;
}

.btnOculto {
    visibility: hidden;
}

.alert {
    margin-top: 5%;
    position: fixed;
}

.sortable {
    color: #6A6C6F;
}

.sortable:hover {
    color: #6A6C6F;
    text-decoration: none;
}

.celdaBoton {
    text-align: end;
}

#logo {
    width: 10%;
}

@media screen and (max-width: 480px) {
    html {
        background-color: #EDF0F5;
        width: 100%;
    }

    nav {
        height: 90px;
    }

    body>header {
        position: fixed;
        z-index: 4;
        height: 90px;
        width: 100%;
    }

    aside {
        padding-top: 90px;
    }

    footer .navbar-right {
        display: none;
    }

    footer ul li {
        margin-left: 20px;
    }

    .container {
        width:100%;
        max-width:100%;
        overflow-x:auto;
    }

    .tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menuOculto {
        display: block;
    }

    .contenedorSesion {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .tituloResponsive {
        display: block;
    }

    .eslogan {
        display: none;
    }

    .listaEnlacesExteriores {
        display: block;
    }

    .listaEnlacesExteriores img {
        min-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .glyphicon {
        visibility: hidden;
    }

    .formLogin {
        width: 100%;
        margin: 0 auto;
    }

    #logo {
        width: 20%;
    }

    #navbar-main {
        margin-right: 0;
        position: fixed;
        background-color: #222222;
    }
}

@media screen and (max-width: 768px) {
    html {
        background-color: #EDF0F5;
        width: 100%;
    }

    footer .navbar-right {
        display: none;
    }

    footer ul li {
        margin-left: 20px;
    }

    .menuOculto {
        display: block;
    }

    .contenedorSesion {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .tituloResponsive {
        display: block;
    }

    .listaEnlacesExteriores img {
        margin-left: 25%;
        max-width: 100px;
    }

    .listaEnlacesExteriores img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .eslogan {
        display: none;
    }

    #logo {
        width: 20%;
    }

    #navbar-main {
        margin-right: 0;
        position: fixed;
        background-color: #222222;
    }
}

