<h3>Socio: {{ socio }}</h3>
<p>Hola {{ socio.usuario.nombre }}, </p>
<p>Le informamos que se ha procedido al cierre de la campa침a {{ temporada }} y que se ha calculado su liquidaci칩n definitiva. Ya puede visualizarla conect치ndose a nuestra aplicaci칩n.</p>