{% extends 'layout.html.twig' %}

{% block title %}
    Inicio
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/carrusel.css">
{% endblock %}

{% block aside %}
    <div class="contenedor">
        <div class="row">
            <!-- Carousel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('imagenes/presentacion.jpg') }}" alt="presentación" class="presentacion">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>
                                    <span>Welcome to <strong>LOREM IPSUM</strong></span>
                                </h2>
                                <br>
                                <h3>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                </h3>
                                <br>
                                <div class="">
                                    <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                    <div class="item">
                        <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>
                                    <span>Welcome to LOREM IPSUM</span>
                                </h2>
                                <br>
                                <h3>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                </h3>
                                <br>
                                <div class="">
                                    <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" href="#">Register</a></div>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                    <div class="item">
                        <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>
                                    <span>Welcome to LOREM IPSUM</span>
                                </h2>
                                <br>
                                <h3>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                </h3>
                                <br>
                                <div class="">
                                    <a class="btn btn-theme btn-sm btn-min-block" href="#">Acceso</a>
                                </div>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div><!-- /carousel -->
        </div>
    </div>
{% endblock %}

{% block section %}
    <h1>Bienvenido</h1>
{% endblock %}