{% extends 'layout.html.twig' %}

{% block title %}Movimientos{% endblock %}

{% block section %}
    {% set socio = app.user.socio.id %}
    <div class="container">
        <h2 class="well">Movimientos anteriores</h2>
        <div class="container">
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a inicio
            </a>
        </div>
        <div class="tiles">
            {% for temporada in temporadas %}
                    <a href="{{ path('movimientos_listar_temporada', {'temporada' : temporada.id}) }}" class="btn">

                    <div class="tile tile-dark-orange">
                        <div class="tile-body">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Temporada</div>
                            <div class="number">{{ temporada }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}