{% form_theme formulario 'bootstrap_3_layout.html.twig' %}
{% extends 'layout.html.twig' %}

{% block title %}Aceites{% endblock %}

{% block section %}
    <div class="container">
        <h2 class="well">Nuevo aceite</h2>
        {{ form_start(formulario) }}
        {{ form_widget(formulario) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" name="enviar" class="btn btn-default btnAceptar">
                        <i class="fa fa-check"></i> Aceptar
                    </button>
                    <a href="{{ path('aceite_principal') }}" class="btn btn-default btnCancelar">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        {{ form_end(formulario) }}
    </div>
{% endblock %}