{% extends 'layout.html.twig' %}

{% block title %}Aceites{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Aceites</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <div class="tiles">
            <a href="{{ path('aceite_modificar') }}" class="btn">
                <div class="tile tile-dark-orange">
                    <div class="tile-body">
                        <i class="fa fa-eur"></i>
                    </div>
                    <div class="tile-object">
                        <div class="number">Editar</div>
                        <div class="number">precios</div>
                    </div>
                </div>
            </a>
            <a href="{{ path('aceite_nuevo') }}" class="btn">
                <div class="tile tile-dark-orange">
                    <div class="tile-body">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="tile-object">
                        <div class="number">Nuevo</div>
                        <div class="number">Aceite</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
    {% endblock %}
{% endblock %}