{% extends 'layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block section %}
    <div class="container">
        <h3>Vas a eliminar a {{ empleado }}</h3>
        <h3>¿deseas continuar?</h3>
        <form action="{{ path('confirmar_empleados_eliminar', {'empleado' : empleado.id}) }}" method="post" name="confirmar">
            <button type="submit" name="aceptar" class="btn btn-default btnAceptar">
                <i class="fa fa-check"></i> Aceptar
            </button>
            <a href="{{ path('empleados_listar') }}" class="btn btn-default btnCancelar" name="cancelar">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
    </div>
{% endblock %}