{% extends 'layout.html.twig' %}

{% block title %}Productos{% endblock %}

{% block section %}
    <div class="container">
        <h3>Se va a envasar aceite procedente de un lote</h3>
        <h3>¿deseas continuar?</h3>
        <form action="{{ path('modificar_producto') }}" method="post" name="confirmar">
            <button type="submit" name="aceptar" class="btn btn-default btnAceptar">
                <i class="fa fa-check"></i> Aceptar
            </button>
            <a href="{{ path('modificar_producto') }}" class="btn btn-default btnCancelar" name="cancelar">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
    </div>
{% endblock %}