{% extends 'layout.html.twig' %}

{% block title %}Socios[is{% endblock %}

{% block section %}
    <h2>Listado de socios</h2>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>num</th>
        </tr>
        </thead>
        <tbody>
        {% for numero in numPlantas %}
            <tr>
                <td>{{ numero[1] }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}