{% extends 'layout.html.twig' %}

{% block title %}Lotes{% endblock %}

{% block section %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" name="enviar" class="btn btn-success"><i class="fa fa-check"></i> Guardar los
                cambios
            </button>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}