body {
    font-family: Arial;
}

nav h3 {
    color: white;
}

.tituloResponsive {
    display: none;
}

.presentacion {
    width: 100%;
}

.navegacion {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

.navOculto {
    display: none;
}

.logotipo {
    display: flex;
    align-items: center;
}

.listaEnlacesExteriores {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.listaEnlacesExteriores img {
    margin-left: 25%;
    max-width: 200px;
}

.menu {
    display: flex;
}

#logo {
    width: 10%;
}

@media screen and (max-width: 480px)  {
    .tituloResponsive {
        display: block;
    }

    .eslogan {
        display: none;
    }

    .menuOculto {
        display: none;
    }

    .navOculto {
        display: block;
    }

    .listaEnlacesExteriores img {
        margin-left: 25%;
        max-width: 50px;
    }

    @media screen and (max-width: 768px) {
        .tituloResponsive {
            display: block;
        }

        .eslogan {
            display: none;
        }

        .menuOculto {
            display: none;
        }

        .navOculto {
            display: block;
        }

        .listaEnlacesExteriores img {
            margin-left: 25%;
            max-width: 50px;
        }
    }
}
